@using System;
@using Microsoft.IdentityModel.Tokens;
@using Newtonsoft.Json.Linq;
@using RestSharp;
@using System.Net;
@using System.Text;

@page "/GetMeeting"
<div class="form-control">
    <h1>Get Meeting</h1>
    <h2>JSON Response</h2>
    <label>@JSONResponse</label>
    <br />
    <p>Status: @numericStatusCode1</p>
    <button @onclick="GetAllMeetings">
        Get All Meetings
    </button>
    <p>Status: @numericStatusCode2</p>
    <button @onclick="GetAMeeting">
        Get One Meeting
    </button>
</div>